<section class="clients section">
        <div class="container clients__container">
          <h2 class="section__title">Постійні клієнти</h2>
          <ul class="clients__list list">
            <li class="clients__item">
              <a class="clients__logo" href="">
                <svg class="client__icon" width="106" height="60">
                  <use href="./images/symbol-defs.svg#icon-logo-yaco"></use></svg
              ></a>
            </li>
            <li class="clients__item">
              <a class="clients__logo" href="">
                <svg class="client__icon" width="106" height="60">
                  <use href="./images/symbol-defs.svg#icon-logo-company-tag-line"></use></svg
              ></a>
            </li>
            <li class="clients__item">
              <a class="clients__logo" href="">
                <svg class="client__icon" width="106" height="60">
                  <use href="./images/symbol-defs.svg#icon-logo-company"></use></svg
              ></a>
            </li>
            <li class="clients__item">
              <a class="clients__logo" href="">
                <svg class="client__icon" width="106" height="60">
                  <use href="./images/symbol-defs.svg#icon-logo-fostereters"></use></svg
              ></a>
            </li>
            <li class="clients__item">
              <a class="clients__logo" href="">
                <svg class="client__icon" width="106" height="60">
                  <use href="./images/symbol-defs.svg#icon-logo-brand"></use></svg
              ></a>
            </li>
            <li class="clients__item">
              <a class="clients__logo" href="">
                <svg class="client__icon" width="106" height="60">
                  <use href="./images/symbol-defs.svg#icon-logo-company-line"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </section>
    </main>