<!--header-->
    <header class="header">
      <div class="container header__container">
        <nav class="navigation">
          <!--navigation-->
          <a class="logo navigation__logo link" href="./index.html">
            <img
              class="navigation__picture"
              src="./images/logo/logo des rgb.png"
              alt="логотип"
              width="300"
          /></a>
          <ul class="menu list">
            <li class="menu__item">
              <a class="menu__link link current" href="./index.html">Логотип</a>
            </li>
            <li class="menu__item">
              <a class="menu__link link" href="./portfolio.html"
                >Ділова та представницька документація</a
              >
            </li>
            <li class="menu__item">
              <a class="menu__link link" href="">Рекламно-сувенірна продукція</a>
            </li>
          </ul>
        </nav>
    </header>
    <main>