<!--Quality-->
<section class="quality section">
  <div class="container quality_container">
    <h2 class="visually-hidden">Привілегії</h2>
    <ul class="quality-list list">
      <li class="quality-list__item">
        <div class="quality-list__picture">
          <svg class="quality-list__icon" width="70" height="70">
            <use href="./images/symbol-defs.svg#icon-antenna"></use>
          </svg>
        </div>
        <h3 class="quality-list__title">УВАГА ДО ДЕТАЛЕЙ</h3>
        <p class="quality-list__text">
          Ідейні міркування, і навіть початок повсякденної роботи з формування
          позиції.
        </p>
      </li>
      <li class="quality-list__item">
        <div class="quality-list__picture">
          <svg class="quality-list__icon" width="70" height="70">
            <use href="./images/symbol-defs.svg#icon-clock"></use>
          </svg>
        </div>
        <h3 class="quality-list__title">ПУНКТУАЛЬНІСТЬ</h3>
        <p class="quality-list__text">
          Завдання організації, особливо рамки і місце навчання кадрів тягне у
          себе.
        </p>
      </li>
      <li class="quality-list__item">
        <div class="quality-list__picture">
          <svg class="quality-list__icon" width="70" height="70">
            <use href="./images/symbol-defs.svg#icon-diagram"></use>
          </svg>
        </div>
        <h3 class="quality-list__title">ПЛАНУВАННЯ</h3>
        <p class="quality-list__text">
          Так само консультація з широким активом значною мірою зумовлює.
        </p>
      </li>
      <li class="quality-list__item">
        <div class="quality-list__picture">
          <svg class="quality-list__icon" width="70 " height="70">
            <use href="./images/symbol-defs.svg#icon-astronaut"></use>
          </svg>
        </div>
        <h3 class="quality-list__title">СУЧАСНІ ТЕХНОЛОГІЇ</h3>
        <p class="quality-list__text">
          Значимість цих проблем настільки очевидна, що реалізація планових
          завдань.
        </p>
      </li>
    </ul>
  </div>
</section>
